# Python for Everybody Specialization - Course 2 : Python Data Structures

#### Len ()

In [1]:
x = 'banana'

In [2]:
len(x)

6

#### Looping through strings

In [3]:
x = 'banana'

In [4]:
for letter in x:
    print(letter)

b
a
n
a
n
a

#### using while loop

In [5]:
index =0

In [6]:
while index <len(x):
    print(x[index])
    index+=1

b
a
n
a
n
a

#### Counting number of a's in a string

In [7]:
count=0

In [8]:
for letter in x :
    if letter == 'a':
        count+=1
print("Number of a's in ",x, "is : ",count)

Number of a's in  banana is :  3

#### Slicing

In [9]:
my_string = "python for everybody"

In [10]:
my_string[0:5]

'pytho'

In [11]:
my_string[:5]

'pytho'

In [12]:
my_string[0:6]

'python'

In [13]:
my_string[7:10]

'for'

In [14]:
my_string[11:]

'everybody'

In [15]:
my_string[11:19]

'everybod'

In [16]:
my_string[11:20]

'everybody'

In [17]:
my_string[:]

'python for everybody'

# using in as a logical operator

In [18]:
fruit = 'banana'

In [19]:
'a' in fruit

True

In [20]:
'x' in fruit

False

In [21]:
if 'n' in fruit:
    print("found 'n'")

found 'n'

# String Library

In [22]:
my_string = "hello Python"
print(my_string)
low =my_string.lower()
print(low)

hello Python
hello python

In [23]:
print("I am not lower".lower())

i am not lower

In [24]:
dir(my_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## find()

In [25]:
fruit = 'banana'

In [26]:
pos = fruit.find('n')

In [27]:
pos

2

In [28]:
fruit.find('q')

-1

In [29]:
fruit.upper()

'BANANA'

In [30]:
fruit.capitalize()

'Banana'

In [31]:
my_string1 ="APPLE"

In [32]:
my_string1.lower()

'apple'

In [33]:
x = my_string1.replace('A','g')

In [34]:
x

'gPPLE'

## Stripping white spaces

In [35]:
space = "   text   "

In [36]:
space.lstrip()

'text   '

In [37]:
space.rstrip()

'   text'

In [38]:
space.strip()

'text'

# prefixes

In [39]:
my_string

'hello Python'

In [40]:
my_string.startswith("H")

False

In [41]:
my_string.startswith("h")

True

In [42]:
## Searching

In [43]:
stri = "sakjdlasj @gmail.com sakdaslkj"

In [44]:
start = stri.find('@')

In [45]:
start

10

In [46]:
start2 =stri.find(' ',start)

In [47]:
start2

20

In [48]:
print(stri[start+1:start2])

gmail.com

In [49]:
uni = u'stri'

In [50]:
type(uni)

str

6.5 Write code using find() and string slicing (see section 6.10) to extract the number at the end of the line below.
Convert the extracted value to a floating point number and print it out.

In [51]:
text = "X-DSPAM-Confidence:    0.8475";

In [52]:
a = text.find('0')

In [53]:
print(float(text[a:]))

0.8475

In [54]:
# another way

In [55]:
b = text.find(':')

In [56]:
b

18

In [57]:
number = text[b+1:].strip()
number

'0.8475'

In [58]:
float_num = float(number)

In [59]:
print(float_num)

0.8475

In [60]:
type(float_num)

float

In [61]:
f = open("big.txt")

In [62]:
f

In [63]:
type(f)

_io.TextIOWrapper

In [64]:
count=0
for line in f :
    count+=1
print("Number of lines in txt files : ",count)

Number of lines in txt files :  128457

In [65]:
count=0

In [66]:
user=input("Enter the file name ")
f = open(user)
    
for line in f :
    
    if line.startswith('T'):
        count+=1
      
       
print("total lines starts with T are :",count)

Enter the file name big.txt
total lines starts with T are : 2957

7.2 Write a program that prompts for a file name, then opens that file and reads through the file, looking for lines of the form:
X-DSPAM-Confidence:    0.8475
Count these lines and extract the floating point values from each of the lines and compute the average of those values and produce an output as shown below. Do not use the sum() function or a variable named sum in your solution.
You can download the sample data at http://www.py4e.com/code3/mbox-short.txt when you are testing below enter mbox-short.txt as the file name.

In [67]:
count =0
total =0

In [68]:
count =0
total =0

In [69]:
count =0
total =0

user = input("Enter a file name")

f =open(user)

for line in f:
    if not line.startswith('X-DSPAM-Confidence: '):
        continue
    pos = line.find("0")
    num = float(line[pos:])
    
    total +=num
    count = count+1
                
print("Average spam confidence:",total/count)

Enter a file namembox-short.txt
Average spam confidence: 0.7507185185185187

# List

In [70]:
my_list = [1,2,3,4]

In [71]:
type(my_list)

list

In [72]:
for i in my_list:
    print(i)

1
2
3
4

In [73]:
for i in range(len(my_list)):
    my = my_list[i]
    print(my)

1
2
3
4

In [74]:
type(my)

int

In [75]:
x = range(0,3)
print(x)

range(0, 3)

In [76]:
for i in x:
    print(i)

0
1
2

In [77]:
# Concat lists

In [78]:
a =[1,2,3]
b=[3,4,'a']

In [79]:
c =a+b

In [80]:
c

[1, 2, 3, 3, 4, 'a']

# List Slicing

In [81]:
print(c)

[1, 2, 3, 3, 4, 'a']

In [82]:
c[:2]

[1, 2]

In [83]:
c[:-2]

[1, 2, 3, 3]

In [84]:
c[5:]

['a']

### more about lists

In [85]:
empty =list()

In [86]:
type(empty)

list

In [87]:
empty.append(1)
empty

[1]

In [88]:
empty.append("one")
empty.append(89.3)
empty

[1, 'one', 89.3]

In [89]:
## to find something in the list

In [90]:
1 in empty

True

In [91]:
10 in empty

False

In [92]:
"one" in empty

True

In [93]:
10 not in empty

True

In [94]:
# lists are mutable

In [95]:
new_list =["happy","one","two","only"]

In [96]:
new_list

['happy', 'one', 'two', 'only']

In [97]:
new_list.sort()

In [98]:
print("sorted list",new_list)

sorted list ['happy', 'one', 'only', 'two']

In [99]:
# Built in functions

In [100]:
len(new_list)

4

In [101]:
max(new_list)

'two'

In [102]:
min(new_list)

'happy'

In [103]:
num =[10,20,30,40]

In [104]:
len(num)

4

In [105]:
min(num)

10

In [106]:
max(num)

40

In [107]:
sum(num)

100

In [108]:
sum(num)/len(num)

25.0

### Excercise

Using list

In [109]:
num_list =list()
while True:
    user = input("enter a number ")
    if user == 'done':
        break
    try:
        num = float(user)
        num_list.append(num)
    except:
        print("invalid input")

    
print("Average",sum(num_list)/len(num_list))

enter a number 1
enter a number 2
enter a number 10
enter a number done
Average 4.333333333333333

conventional way

In [113]:
count =0
total_sum =0

In [114]:

while True:
    user = input("enter a number ")
    if user== 'done':
        break
    num =float(user)
    total_sum +=num
    count +=1
     
print("Avg :",total_sum/count)

enter a number 1
enter a number 2
enter a number 10
enter a number done
Avg : 4.333333333333333

Spit() Function

In [129]:
abc = "one two      three"

In [130]:
ss= abc.split()
ss

['one', 'two', 'three']

In [131]:
for s in ss:
    print(s)

one
two
three

In [132]:
sem ='1st;second;third'

In [134]:
delim = sem.split(';')

In [135]:
print(delim)
print(len(delim))

['1st', 'second', 'third']
3

In [136]:
## Excercise

In [143]:
user = input("enter a file name ")
f = open(user)

for line in f:
    
    line = line.rstrip()
    

    if not line.startswith("From"):
        continue
    words =line.split()
    print(words[1])
#     email = line.split()
#     print(email[2])
#     add = email.split('@')
    
#     print(add)

enter a file name mbox-short.txt
stephen.marquard@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
zqian@umich.edu
zqian@umich.edu
rjlowe@iupui.edu
rjlowe@iupui.edu
zqian@umich.edu
zqian@umich.edu
rjlowe@iupui.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
zqian@umich.edu
gsilver@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
wagnermr@iupui.edu
zqian@umich.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu

In [144]:
line = "from stephen.marquard@uct.ac.za Sat Jun 20/20/2020"

In [145]:
words = line.split()

In [146]:
words

['from', 'stephen.marquard@uct.ac.za', 'Sat', 'Jun', '20/20/2020']

In [147]:
email = words[1]

In [148]:
add = email.split('@')

In [150]:
add[1]

'uct.ac.za'

In [151]:
##

In [152]:
fruit = 'Banana'
fruit[0] = 'b'
print(fruit)

TypeError: 'str' object does not support item assignment

# Excercise

8.4 Open the file romeo.txt and read it line by line. For each line, split the line into a list of words using the split() method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in alphabetical order.
You can download the sample data at http://www.py4e.com/code3/romeo.txt

In [22]:
big_list = list()

In [34]:
f = open("C:/Users/shiva/OneDrive/Desktop/romeo.txt")
for line in f:
    
    list_words = line.split()
    for item in list_words:
        if item not in big_list:
            big_list.append(item)
            
            big_list.sort()
print(big_list)

['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

In [18]:
print(big_list)

[]

In [41]:
for word in big_list:
    if len(word)>=4:
        print(word)

Arise
Juliet
already
breaks
east
envious
fair
grief
kill
light
moon
pale
sick
soft
through
what
window
with
yonder

8.5 Open the file mbox-short.txt and read it line by line. When you find a line that starts with 'From ' like the following line:
From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). Then print out a count at the end.
Hint: make sure not to include the lines that start with 'From:'.

You can download the sample data at http://www.py4e.com/code3/mbox-short.txt

In [45]:
count =0
f =open("mbox-short.txt")

for line in f :
    if not line.startswith("From:"):
        
        continue
    line = line.rstrip()
    ls =line.split()
    count +=1
    print(ls[1])
print("There were",count, "lines in the file with From as the first word")

stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 lines in the file with From as the first word

# Dictionaries

In [46]:
my_dict = dict()

In [47]:
type(my_dict)

dict

In [48]:
my_dict["Name"] ='shiva'

In [49]:
my_dict["Age"] = 23

In [51]:
print(my_dict)

{'Name': 'shiva', 'Age': 23}

In [52]:
print(my_dict["Age"])

23

In [53]:
my_dict["Age"] =24

In [58]:
print(my_dict["Age"])

24

In [59]:
# Another way of creating dictionary

In [60]:
my_dict1 = {"name":"sai","age":21}

In [61]:
type(my_dict1)

dict

In [62]:
my_dict1["name"]

'sai'

In [67]:
my_list2 =["shiva","sai","raj",'sai']

In [68]:
my_names_dict = dict()

In [69]:
for name in my_list2:
    if name not in my_names_dict:
        my_names_dict[name] = 1
    else:
        my_names_dict[name] =my_names_dict[name]+1
print(my_names_dict)

{'shiva': 1, 'sai': 2, 'raj': 1}

In [71]:
## using get() method

In [80]:
my_list2

['shiva', 'sai', 'raj', 'sai']

In [82]:
my_dict_names =dict()
for name in my_list2:
    my_dict_names[name] =my_dict_names.get(name,0) + 1
print(my_dict_names)

{'shiva': 1, 'sai': 2, 'raj': 1}

In [86]:
## Excercise : finding most frequent word

In [100]:
f = open("Romeo.txt")
word_dict = dict()
for line in f:
    words = line.split()
    for word in words:
        word_dict[word] =word_dict.get(word,0)+1
freq_word = None
freq_word_count = None

for word,count in word_dict.items():
    if freq_word_count is None or count > freq_word_count:
        freq_word = word
        freq_word_count =count
print(freq_word,freq_word_count)

is 3

In [106]:
#Excercise

9.4 Write a program to read through the mbox-short.txt and figure out who has sent the greatest number of mail messages. The program looks for 'From ' lines and takes the second word of those lines as the person who sent the mail. The program creates a Python dictionary that maps the sender's mail address to a count of the number of times they appear in the file. After the dictionary is produced, the program reads through the dictionary using a maximum loop to find the most prolific committer.

In [124]:
word_dict = dict()
final =list()
freq_word = None
freq_word_count = None


name = input("Enter file:")
if len(name) < 1 : name = "mbox-short.txt"
f = open(name)

for line in f:
    if not line.startswith("From:"):
        continue
    line = line.rstrip()
    words = line.split()
    final.append(words[1])
    
for word in final:
    word_dict[word] =word_dict.get(word,0)+1
       
for w,c in word_dict.items():
    if freq_word_count is None or c>freq_word_count:
        freq_word =w
        freq_word_count=c
print("frequent word is :",freq_word,"and it's frequency is :",freq_word_count)

Enter file:mbox-short.txt
frequent word is : cwen@iupui.edu and it's frequency is : 5

In [122]:
print(word_dict)

{'stephen.marquard@uct.ac.za': 2, 'louis@media.berkeley.edu': 3, 'zqian@umich.edu': 4, 'rjlowe@iupui.edu': 2, 'cwen@iupui.edu': 5, 'gsilver@umich.edu': 3, 'wagnermr@iupui.edu': 1, 'antranig@caret.cam.ac.uk': 1, 'gopal.ramasammycook@gmail.com': 1, 'david.horwitz@uct.ac.za': 4, 'ray@media.berkeley.edu': 1}

In [ ]:
# print number till 1-100 ignoring the numbers divisible by 3 or 5

In [3]:
i =1
while i <=100:
    
    if not i%3 == 0:
        
        if not i % 5 == 0:
            
            print(i)
    i +=1

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
52
53
56
58
59
61
62
64
67
68
71
73
74
76
77
79
82
83
86
88
89
91
92
94
97
98

## Tuples

In [6]:
tup =(1,2,3,4,5,1)

In [7]:
type(tup)

tuple

In [8]:
tup.count(1)

2

In [9]:
tup.index(2)

1

In [39]:
dict = {"name":"shiva","age":'23',"gen":"male"}

In [40]:
## items() will return a list of tuples

In [11]:
print(dict.items())

dict_items([('name', 'shiva'), ('age', '23'), ('gen', 'male')])

In [29]:
# to sort a dict by key

In [38]:
sorted(dict.items())

[('age', '23'), ('gen', 'male'), ('name', 'shiva')]

In [31]:
## to sort dict by value

In [32]:
tmp =list()
for k,v in dict.items():
    tmp.append((v,k))

In [33]:
tmp

[('shiva', 'name'), ('23', 'age'), ('male', 'gen')]

In [35]:
tmp = sorted(tmp,reverse=True)
print(tmp)

[('shiva', 'name'), ('male', 'gen'), ('23', 'age')]

In [39]:
# Excercise : To find 10 most frequent words in a file

In [4]:
f =open("big.txt")
word_dict = dict()

for line in f :
    line.rstrip()
    word = line.split()
    for w in word:
        word_dict[w]=word_dict.get(w,0)+1
my_lis =list()
    
for k,v in word_dict.items():
        new_tup =(v,k)
        my_lis.append(new_tup)
    
my_lis =sorted(my_lis, reverse=True)
my_lis

for v,k in my_lis[:10]:
    print(k,v)

the 71744
of 39169
and 35968
to 27895
a 19811
in 19515
that 11216
was 11129
his 9561
he 9362

In [22]:
## List Comprehension

In [27]:
my_str ="Human"
name = list()
for i in my_str:
    name.append(i)
name

['H', 'u', 'm', 'a', 'n']

In [24]:
# same can be done using list comprehesion

In [29]:
print([i for i in my_str])

['H', 'u', 'm', 'a', 'n']

In [30]:
# Another example

In [34]:
my_listt =[("Name","shiva"),("Age",'21')]

In [35]:
type(my_listt)

list

In [37]:
print(sorted([(v,k) for k,v in my_listt])) # sorting a list based on its value

[('21', 'Age'), ('shiva', 'Name')]

##10.2 Write a program to read through the mbox-short.txt and figure out the distribution by hour of the day for each of the messages. You can pull the hour out from the 'From ' line by finding the time and then splitting the string a second time using a colon.
From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
Once you have accumulated the counts for each hour, print out the counts, sorted by hour as shown below.

In [47]:
name = input("Enter file:")
if len(name) < 1 : name = "mbox-short.txt"
handle = open(name)
time = list()
hr_dict =dict()

for line in handle:
    if not line.startswith("From "):
        continue
    line =line.rstrip()
    words =line.split()
    time = [(words[5].split(':'))[0]]
    
    for i in time:
        hr_dict[i]=hr_dict.get(i,0)+1
    
for k,v in sorted(hr_dict.items()):
    print(k,v)

Enter file:mbox-short.txt
04 3
06 1
07 1
09 2
10 3
11 6
14 1
15 2
16 4
17 2
18 1
19 1